.fonty{
	font-family: 'Open Sans', sans-serif;
}
.titulos{
	font-size: 32px;
	font-style: bold;
}
.icons{
	margin-left:60px; 
}
#menu2{
	padding: 10%;
}
.blanco{
	background-color: white;
	box-shadow: 2px 2px 5px #999;
	width: 520px;
	margin-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.m{
    margin-left: 10px;
}